*{
    box-sizing: border-box;
}

aside>img{
    width: 100%;
}

main{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(255,255,230);
    display: grid;
    grid-template-areas: 
    "h h h"
    "n n n"
    "as ar ar"
    "f f f";
}

header{
    background-image: url(kepek/fejlec.jpg);
    height: 550px;
    color: red;
    font-weight: bolder;
    font-family: cursive;
    padding-top: 60px;
    text-align: center;
    opacity: 0.8;
    grid-area: h;
}

nav{
    background-color: red;
    height: 50px;
    margin: auto;
    grid-area: n;
    width: 100%;
}

aside{
grid-area: as;
}

article{
grid-area: ar;
}

footer{
grid-area: f;
text-align: center;
background-color: #ff1a1a;
color: white;
padding-top: 5px;
padding-bottom: 5px;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
}

nav>ul>li{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
    list-style-type: none;
    text-align: center;
}

nav>ul>li:hover{
    background-color: green;
}

nav>ul>li>a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

article>p{
    text-align: justify;
    font-size: 10px;
}

.cim{
    font-size: 15px;
    color: #ff1a1a;
    font-family:'Trebuchet MS', 'Helvetica', 'Lucida Grande', 'Sans-serif';
}

article>img{
    float: right;
    border-radius: 10px;
    box-shadow: 2px 2px;
}

aside>img{
    border: #ff1a1a 1px solid;
}

@media only screen and (max-width: 700px) {
    main{
        display: grid;
        grid-template-areas: 
        "h"
        "n"
        "ar"
        "as"
        "f";
    }

    aside{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
  }